.video {
  display: flex;
  margin: 0.5rem;
  cursor: pointer;
  background: transparent;
  transition: 0.3s ease-in;
  border-radius: 0rem;
  border: 1px solid transparent;
}

.thumbWrap {
  flex: 2;
}
.thumbnail {
  width: 100%;
  transition: 0.3s ease-in;
  border-right: 1px solid transparent;
  border-radius: 0rem;
}
.contentWrap {
  padding-left: 0.5rem;
  flex: 3;
}
.title {
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.3s ease-in;
}
.channel {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2;
  color: #dadada;
}

.line {
  width: 95%;
  height: 1px;
  margin: 0 auto;
  background: #707070;
}

.video:hover {
  background: #00000080;
  border: 1px solid #dadada;
  border-radius: 0.8rem;
}

.video:hover .thumbnail {
  border-right: 1px solid #dadada;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}
