.detail {
  padding: 1.4rem 0 1rem 1rem;
}

.description {
  white-space: pre-wrap;
}

.video {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
