.video {
  max-width: 300px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  margin: 20px 15px;
}

.thumbnail {
  max-width: 300px;
  width: 100%;
}

.title {
  width: 100%;
  padding: 0px;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
.channel {
  font-size: 14px;
  font-weight: 300;
  color: #dadada;
}
