.video {
  max-width: 270px;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

.video.list {
  margin: 1.4rem 1rem 0 14px;
}
.video.grid {
  margin: 20px 15px;
}

.thumbnail {
  max-width: 270px;
  width: 100%;
}

.title {
  width: 100%;
  padding: 0px;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}
.channel {
  font-size: 14px;
}
