.listWrap {
  flex: 2.5;
  border: 1px solid #707070;
  position: relative;
  height: fit-content;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.listNameWrap {
  display: flex;
}
.resultsListTop,
.myListTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  height: 3.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: 0.2s ease-in;
}
.resultsListTop {
  border-right: 1px solid #707070;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.listNameWrap > .myListTop {
  background: #707070;
  color: #181818;
}
.listNameWrap > .myListTop:hover {
  color: #fff;
}
.listNameWrap.active > .resultsListTop {
  background: #707070;
  color: #181818;
}
.listNameWrap.active > .resultsListTop:hover {
  color: #fff;
}
.listNameWrap.active > .myListTop {
  background: transparent;
  color: #fff;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .listWrap {
    flex: 1;
  }
}
@media screen and (max-width: 600px) {
  .listWrap {
    flex: 1;
  }
}
