.listWrap {
  flex: 2.5;
  border: 1px solid #707070;
  position: relative;
}
.listNameWrap {
  display: flex;
}
.resultsListTop,
.myListTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  height: 3.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.resultsListTop {
  border-right: 1px solid #707070;
  cursor: pointer;
}

.listNameWrap > .myListTop {
  border-bottom: 1px solid #707070;
}
.listNameWrap.active > .resultsListTop {
  border-bottom: 1px solid #707070;
}
