.videolistWrap {
  width: 100vw;
  height: 26rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  transition: 600ms ease-in-out;
  opacity: 1;
}
.videolistWrap.focus {
  height: 0rem;
  opacity: 0;
}
.sliderContainer {
  width: 41rem;
  height: 26rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 600ms ease-in-out;
}
.videolistWrap.focus > .sliderContainer {
  margin-top: -13rem;
}

.videolist {
  display: flex;
  position: relative;
  width: 41rem;
  left: 0%;
  transition: 0.3s ease-in;
}

.dotnav {
  position: absolute;
  z-index: 50;
  bottom: 0rem;
  width: 100%;
}
.dotnav ul {
  display: block;
  text-align: center;
}
.dotnav li {
  display: inline-block;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.dotnav li span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #888;
  border-radius: 50%;
  line-height: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 120ms ease-in-out;
}
.dotnav li span:hover {
  background-color: #666;
}
.dotnav li span.selected {
  background-color: #fff;
  cursor: default;
}

.arrowNav {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  width: 100vw;
}
.prevBtn {
  width: 200px;
  height: 200px;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 100px;
  left: 3vw;
  top: 85%;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}
.prevBtn > .arrowTop {
  width: 75px;
  height: 8px;
  position: absolute;
  background: #fff;
  left: 48%;
  top: 38%;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.4s;
}
.prevBtn > .arrowBottom {
  width: 75px;
  height: 8px;
  position: absolute;
  background: #fff;
  left: 48%;
  top: 62%;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.4s;
}
.prevBtn:hover,
.nextBtn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.prevBtn:hover > .arrowTop,
.prevBtn:hover > .arrowBottom,
.nextBtn:hover > .arrowTop,
.nextBtn:hover > .arrowBottom {
  background: #000;
}
.nextBtn {
  width: 200px;
  height: 200px;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 100px;
  right: 3vw;
  top: 85%;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}
.nextBtn > .arrowTop {
  width: 75px;
  height: 8px;
  position: absolute;
  background: #fff;
  left: 52%;
  top: 38%;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.4s;
}
.nextBtn > .arrowBottom {
  width: 75px;
  height: 8px;
  position: absolute;
  background: #fff;
  left: 52%;
  top: 62%;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .arrowNav {
    display: none;
  }
  .dotnav {
    display: none;
  }

  .videolistWrap {
    height: auto;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }
  .videolistWrap.focus {
    height: auto;
    opacity: 1;
  }
  .sliderContainer {
    height: auto;
    justify-content: center;
    align-items: flex-start;
  }
  .videolistWrap.focus > .sliderContainer {
    margin-top: 0rem;
  }

  .videolist {
    flex-direction: column;
    align-items: center;
    left: auto;
  }
}
