@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Questrial', 'Noto Sans KR', 'sans-serif';
  margin-bottom: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > .img {
  width: 80px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.title {
  /* color: #000; */
  color: #fff;
  font-size: 4rem;
  font-family: 'Questrial', sans-serif;
}
.slogan {
  /* color: #000; */
  color: #fff;
  font-size: 18px;
  font-family: 'Questrial', sans-serif;
}

.searchWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 70px;
  /* width: 100%; */
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  margin-top: 4rem;
  padding: 0px;
  border: 3px solid #4e86f77c;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.input {
  flex-basis: 75%;
  font-size: 1.4rem;
  font-weight: 700;
  outline: 0;
  background-color: transparent;
  border: 0;
  /* color: #000; */
  color: #fff;
  height: 70px;
  width: 70px;
  margin-left: 0rem;
  cursor: pointer;
  /* display: none; */
  /* transform: scale(0.3); */
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 64px;
  cursor: pointer;
  padding: 0;
  /* justify-self: flex-end; */
  pointer-events: none;
}

.buttonImg {
  width: 40px;
  height: 100%;
  padding: 0.2em;
}
.searchWrap.focus {
  width: 100%;
  cursor: auto;
  margin-top: 2rem;
}
.searchWrap.focus > .input {
  display: block;
  margin-left: 2rem;
  cursor: auto;
}
.searchWrap.focus > .button {
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 2rem;
  }
  .logo {
    margin-top: 3rem;
  }
  .logo > .img {
    width: 60px;
  }
  .title {
    font-size: 3rem;
  }
  .slogan {
    font-size: 14px;
  }

  .searchWrap {
    width: 50px;
    /* width: 100%; */
    height: 50px;
    border-radius: 25px;
    margin-top: 2rem;
    padding: 0px;
    border: 2px solid #4e86f77c;
  }

  .input {
    flex-basis: 75%;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    height: 50px;
    width: 50px;
    margin-left: 0rem;
  }

  .button {
    right: 0;
    border: 0;
    outline: 0;
    width: 44px;
    padding: 0;
  }

  .buttonImg {
    width: 28px;
    height: 100%;
    padding: 0.2em;
  }
  .searchWrap.focus {
    width: 100%;
    margin-top: 2rem;
  }
  .searchWrap.focus > .input {
    margin-left: 2rem;
  }
  .searchWrap.focus > .button {
  }
}
